
:root {
  --ui: #00a5cf;
}


body {
  margin: 0;
  font-family: "Noto Sans", Barlow, Roboto, -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 13px;

  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}



.container {
  background-color: #eeeeee;
  color: black;
  width: calc(100% - 10px);
  min-height: 100vh;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 5px;
  font-weight: 400;
}

h1 {
  font-size: 20px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 15px;
  font-weight: 500;
}

h6 {
  font-size: 13px;
  font-weight: 500;
}

div {
  font-size: 15px;
}

p {
  font-size: 13px;
}

b {
  font-weight: 500;
}

.card {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: calc(100% - 10px);
  max-width: 500px;
  margin: 10px 0;
  text-align: center;
}

.title {
  text-align: center;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_label {
  margin-right: 20px;
  font-size: 15px;
}

.dropdown__selector {
  font: inherit;
  background-color: white;
  border: solid 2px #555;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  font-size: 15px;
}

.dropdown__selector:focus {
  border-color: #00a5cf;
}

.input-text {
  font: inherit;
  background-color: white;
  border: solid 2px #555;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}
.input-text:focus {
  border-color: #00a5cf;
  outline: transparent;
}

.currentPage {
  text-decoration: underline #00a5cf solid 3px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.nav-item {
  min-height: 20px;
  font-size: 18px;
  padding: 5px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-item:hover {
  background-color: #d0d0d0;
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ticket-row {
  margin: 5px;
  width: calc(100% - 10px);

}

.add-item-start {
  border: dashed 5px #00a5cf;
  border-radius: 10px;
  height: 100px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a5cf;

  margin: 0 10px;
}

.add-item-config {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-topBox {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.item-name {
  width: 300px;
  flex: 2 1 300px;
  min-width: 50%;
  padding: 3px;
}
.item-price {
  height: fit-content;
  margin: 5px 5px 8px 5px;
  flex: 1 1 55px;
}

.item-sides {
  padding: 3px;

}

.item-notes {
  min-height: 40px;
  font-size: 13px;
  resize: none;
}

.item-buttons {
  display: flex;
  justify-content: center;
}
.button {
  border: solid 2px;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
  outline: solid 0;
}
.button:hover, .button:active {
  outline-width: 1px;
  border-color: white !important;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px auto;
  width: fit-content;
  border-radius: 20px;
}

.banner__text {
  margin: 0 5px;
}

.cart-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.cart-left {
  flex: 2 1 300px;
}

.cart-name {
  font-size: 18px;
  font-weight: 500;
}

.cart-price {
  flex: 0 0 fit-content;
  min-width: 55px;
  margin-bottom: 8px;
}

.cart-delete {
  border-radius: 18px;
  background-color: #555555;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 34px;
  flex: 0 1 28px;
  padding: 0 3px;
  border: #555 solid 2px;
}
.cart-delete:hover, .cart-delete:active {
  border-color: white;
  outline: solid 1px #555555;
}

.notice-outer {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.notice-inner {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #000000b2;
  justify-content: flex-start;
  flex-direction: column;
}
.notice-panel {
  max-width: 500px;
  width: calc(100% - 60px);
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0;
  border-radius: 10px;
}
.notice-top {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px #d0d0d0;
}
.notice-close {
  height: 20px;
  width: 20px;
  color: #222222;
  border-radius: 5px;
  border: solid 2px #222222;
  outline: solid 0 transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-close:hover, .notice-close:active {
  border-color: transparent !important;
  outline: solid 1px #222222;
}
.notice-body {
  display: flex;
  flex-direction: column;

  margin: 10px;
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-list-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.badge-box {
  border: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}